<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrapper {
            display: flex;
        }

        .wrapper > .item {
            flex: 1;
            border-left: solid 5px currentColor;
            border-right: solid 5px currentColor;
            color: #fff;
            background: #4577dc;
            align-items: stretch;
            /*stretch（默认值）：如果项目未设置高度或设为auto，将占满整个容器的高度*/
        }

    </style>
</head>
<body>
<div class="wrapper">
    <div class="item">
        一家将客户利益置于首位的经纪商，
        为客户提供专业的交易工具一家将客户利益置于首位的经纪商，
        为客户提供专业的交易工具一家将客户利益置于首位的经纪商，
        为客户提供专业的交易工具一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
    </div>
    <div class="item">
        一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
        一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
    </div>
    <div class="item">
        一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
    </div>
</div>
</body>
</html>
