<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--https://juejin.im/post/6844903615182667789-->
    <style>
        .wrapper {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        .wrapper > .item {
            display: table-cell;
            width: 200px;
            border-left: solid 5px currentColor;
            border-right: solid 5px currentColor;
            color: #fff;
            background: #4577dc;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <div class="item">
        一家将客户利益置于首位的经纪商，
        为客户提供专业的交易工具一家将客户利益置于首位的经纪商，
        为客户提供专业的交易工具一家将客户利益置于首位的经纪商，
        为客户提供专业的交易工具一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
    </div>
    <div class="item">
        一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
        一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
    </div>
    <div class="item">
        一家将客户利益置于首位的经纪商，为客户提供专业的交易工具
    </div>
</div>
</body>
</html>
